.common-heading{
    font-family: 'open-sans-extrabold';
    color: #709dca;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 0;
}
.common-heading div:nth-child(1) {
    text-align: center;
    display: block;

}

.common-heading div .span-content {
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%);
   color: #e7ad48;
   width: 100%;

}
.common-heading .span-content i {
    margin: 0 13px;
}
.common-heading .span-content::after {
    content:"_________";
}
.common-heading .span-content::before{
    content: "__________";
}

#banner {
    background-image: url('../image/10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    position: relative;
    margin-bottom: 80px;



}
#nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav .nav-body {
    width: 100%;
    background-color: #709dca;
    box-shadow: 0px 0xp 5px white;
}

#nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 0;
    /* background-color: gray; */
    height: 100%;
   
}
#nav ul li {
    padding: 5px 25px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;

}

#nav ul li a {
    color: black;
    transition: all ease-in-out .5s;
}
.active {
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 5px solid rgb(255, 255, 255);
    color: white;
}
#nav ul li span  {
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all ease-in-out .5s;
}
#nav ul li:hover a:not(.active) span {
    left: 0;

}

#nav h3 {
    font-family: 'pacifico';
    color: #ffc155;
}

#banner .overlay {
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: rgba(34, 43, 165, 0.5);
}
#nav .logo-body {
    position: relative;
    /* border: 1px solid black; */
}
#nav .logo-body .logo-design {
    position: absolute;
    top: 0;
    left: -30%;
     width: 50px;
    height: 100%;
    display: none;
}
#nav .logo-body .logo-design span:first-child {
    position: absolute;
    width: 48%;
    height: 45%;
    background-color: gray;
}
#nav .logo-body .logo-design span:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48%;
    height: 45%;
    background-color: gray;
}
#nav .logo-body .logo-design span:nth-child(2) {
    position: absolute;
    top: 7%;
    left: 55%;
    width: 40%;
    height: 37%;
    background-color: #34c434;
}
#nav .logo-body .logo-design span:nth-child(3) {
    position: absolute;
    left: 8%;
    top: 54%;
    width: 40%;
    height: 40%;
    background-color: #34c434;
}

/* banner style start  */


#banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 73px;
    color: #ffffff;
    /* font-family: 'open-sans'; */
    text-align: center;
}
#banner .banner-text h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5px;
    font-family: 'open-sans-extrabold';
}
#banner .banner-text p {
    font-size: 15px;
    letter-spacing: 0ch;
    font-family: 'open-sans';
}

.dots {
    position: absolute;
    bottom:50px;
    left: 50%;
    transform: translate(-50%);
}
.dots span {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    border-radius: 25px;
    cursor: pointer;
}
.dots span .active{
    background-color: green;
}
.slider-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    
}
.slider-control .control-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slider-control .control-body span {
    border: 1px solid white;
    padding: 10px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 800;
    cursor: pointer;
}
.show-more {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    padding:10px 15px;
    border: none;
    background-color: #709dca;
    color: white;
    font-family: 'open-sans';
}




/* offer section */
#offer {
    width: 100%;
    margin-bottom: 40px;
}
#offer .top{
    margin-bottom: 40px;

}
#offer .top h3{
    text-align: center;
    font-family: 'open-sans-extrabold';
    font-weight: 700;
    text-transform: uppercase;
    color: #709dca;

  
}
#offer .top p {
    font-family: 'open-sans';
    text-align: center;
    line-height: none; 
    line-height: .5px;

}
#offer .bottom .bottom-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    /* border: 1px solid; */
}
 
#offer .bottom .bottom-row h4 {
    font-size: 16px;
    font-family:'open-sans-extrabold';
    color: #8c8e8f;
    letter-spacing: normal;
    font-weight: 600;
    height: 20px;
    transition: .5s;
}
#offer .bottom .bottom-row p {
    font-family: 'open-sans';
    line-height: normal;
    color: #696c6d;
}
#offer .bottom .bottom-row .bottom-left {
    margin: 0 15px;
    font-size: 20px;
    transition: .5s;
}
#offer .bottom .bottom-row:hover .bottom-left i{
    color: #b4b632;
    transition: all linear .5s;
   
}
#offer .bottom .bottom-row:hover h4 {
    color: #b4b632; 
}
#offer .bottom .bottom-row:hover {
    transition: all linear .56s;
    border-radius: 10px;
}




/* About-us */
#about-us {
    margin: 40px 0 ;
    /* border: 1px solid red; */
    background-color: #ffc155;
}
#about-us .about-left img {
    width: 100%;
    height: 100%;
}
#about-us .about-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: start;
    padding: 10px 0;
    color: white;
}
#about-us .about-right h3 {
    font-family: 'open-sans-extrabold';
}

#about-us .about-right p{
    font-family: 'open-sans';
    line-height: normal;
}
#about-us .about-right button {
    font-family: 'open-sans';
    width: 150px;
    height: 40px;
    border: none;
    background-color: #e7ad48;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}


/* portfolio */

#portfolio {
    margin: 20px 0;
}
#portfolio .row {
    margin: 30px 0;
}
#portfolio .portfolio-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#portfolio .portfolio-details .details-text {
    color: #062033;
    font-family: 'open-sans';
}

.details-list ul {
    display: flex;
    justify-content: space-between;
}
.details-list ul li {
    color: black;
    font-family: 'open-sans';
    text-transform: capitalize;
    padding: 3px 12px;
    border-radius: 7px;
}
.details-list ul li.active{
    background-color: #709dca;
    color: white;
    position: relative;
}
.details-list ul li.active::after {
    content: " ";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    border-width: 11px;
    border-style: solid;
    border-color: #709dca transparent transparent transparent;
}




#portfolio img {
    width: 100%;
    height: 225px;
}
#portfolio .gallery .row {
    margin: 15px 0;
}
#portfolio .image-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;

}
#portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffc155e0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: linear .5s;
    cursor: pointer;
}
#portfolio .overlay div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#portfolio .overlay div:nth-child(1) img:first-child {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 135px;
}
#portfolio .overlay div:nth-child(1) img:last-child {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
#portfolio .overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: 'open-sans';
    color: white;
}
#portfolio .overlay .overlay-content h3 {
    font-family: 'open-sans-extrabold';
}
#portfolio .overlay .overlay-content p {
    font-family: 'open-sans';
    font-weight: 600;
}
#portfolio .image-container:hover .overlay {
    transform: scale(1);
    opacity: 1;
}
#portfolio .gallery .row .col-sm-6 {
    width: 24%;
}
/* portfolio end */

/* testimonial */
#testimonial {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px 0;
    position: relative;
}
#testimonial .testimonial-row {
    justify-content: space-evenly;
}

#testimonial .testimonial-body {
    display: block;
    margin: 50px 0;
}
#testimonial .testimonial-body p {
    font-family: 'open-sans';
    text-align: left;
    font-size: 13px;
    font-style: italic;
    padding: 5px;
}
#testimonial .testimonial-body div {
    display: flex; 
    justify-content: flex-start;
}
#testimonial .testimonial-row .testimonial-body div .user-heading{
    font-size: 14px;
    width: 100px;
    font-family: 'open-sans';
    font-style:normal;
    margin: 5px 0px;
    text-align: center;
}
#testimonial .span-content{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

}
#testimonial .span-content span {
    width: 8px;
    height: 8px;
    background-color: #888588;
    border-radius: 50%;
    margin: 0 1px;

}
#testimonial .span-content span.active {
    width: 13px;
    height: 13px;
    border: 1px solid #709dca;
    background-color:inherit;
}

#testimonial .testimonial-row .testimonial-body {
    margin:0px;
    padding: 30px;
    text-align: justify;
}

#testimonial .testimonial-row .testimonial-body div {
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(189, 187, 187, 0.418);
    border-radius: 25px;
}

#testimonial .testimonial-row .testimonial-body i  {
    background-color: white;
    border: 1px solid rgba(189, 187, 187, 0.418);
    border-radius: 25px;
    font-size: 25px;
    width: 50px;
    height: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* testimonial end  */

/* footer start  */
footer{
    background-color: #273a43;
    height: auto;
    color: white;
}
footer h3 {
    color: white;
    font-family: 'open-sans';
}
footer i, span {
    font-size: 15px;
    color: #709dca;

}
footer form {
    display: inline-block;
}
footer form input{
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: center;
}
footer form button{
    width: 100%;
    padding: 7px 12px;
    background:linear-gradient(90deg, transparent, #709dca, transparent);
    border: none;
    margin: 5px 0;
    text-transform: uppercase;
    transition: 1s;
}
footer form button:hover {
    background-color:#709dca ;
    transition: 1s;
}

.footer-last {
    height: auto;
    background-color:#18252b;
    color: white;
    padding: 10px 0;
}
.footer-last .fab{
    font-size: 15px;
    padding: 5px;
    background-color: gray;
    transition: .5s;
}
.footer-last .fab:hover {
    background-color: #709dca;
}
