#banner {
    background-image: url('../image/10.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    position: relative;
    margin-bottom: 80px;

}
nav {
    position: absolute;
    top: 10px;
    width: 100%;
}
#banner .overlay {
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: rgba(34, 43, 165, 0.5);
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

nav h3 {
    font-family: 'pacifico';
    color: #ffc155;
}

#banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 73px;
    color: #ffffff;
    /* font-family: 'open-sans'; */
    text-align: center;
}
#banner .banner-text h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5px;
    font-family: 'open-sans-extrabold';
}
#banner .banner-text p {
    font-size: 15px;
    letter-spacing: 0ch;
    font-family: 'open-sans';
}

.dots {
    position: absolute;
    bottom:50px;
    left: 50%;
    transform: translate(-50%);
}
.dots span {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    border-radius: 25px;
    cursor: pointer;
}
.dots span.active{
    background-color: green;
}
.slider-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    
}
.slider-control .control-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slider-control .control-body span {
    border: 1px solid white;
    padding: 10px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: 800;
    cursor: pointer;
}
.show-more {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    padding:10px 15px;
    border: none;
    background-color: #709dca;
    color: white;
    font-family: 'open-sans';
}




/* offer section */
#offer {
    width: 100%;
    margin-bottom: 40px;
}
#offer .top{
    margin-bottom: 40px;

}
#offer .top h3{
    text-align: center;
    font-family: 'open-sans-extrabold';
    font-weight: 700;
    text-transform: uppercase;
    color: #709dca;

  
}
#offer .top p {
    font-family: 'open-sans';
    text-align: center;
    line-height: none; 
    line-height: .5px;

}
#offer .bottom .bottom-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    /* border: 1px solid; */
}
 
#offer .bottom .bottom-row h4 {
    font-size: 16px;
    font-family:'open-sans-extrabold';
    color: #8c8e8f;
    letter-spacing: normal;
    font-weight: 600;
    height: 20px;
}
#offer .bottom .bottom-row p {
    font-family: 'open-sans';
    line-height: normal;
    color: #696c6d;
}
#offer .bottom .bottom-row .bottom-left {
    margin: 0 15px;
    font-size: 20px;
    transition: .5s;
}
#offer .bottom .bottom-row:hover .bottom-left {
    color: #b4b632; 
}


/* About-us */
#about-us {
    margin: 40px 0 ;
    /* border: 1px solid red; */
    background-color: #ffc155;
}
#about-us .about-left img {
    width: 100%;
    height: auto;
}
#about-us .about-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    align-items: center;
    /* border: 1px solid white; */
    justify-content: start;
    padding: 10px 0;
    color: white;
}
#about-us .about-right h3 {
    font-family: 'open-sans-extrabold';
}
#about-us .about-right p{
    font-family: 'open-sans';
    line-height: normal;
}
#about-us .about-right button {
    font-family: 'open-sans';
    width: 150px;
    border: none;
    padding: 5px;
}